h1 {
  color: blue;
  font-family: sans-serif;
}

code {
  color: red;
  font-family: sans;
}

.second-code-green code{
  color: green;
}

body {
  font-family: sans-serif;
}

li {
  font-family: inherit;
}