div {
  background: beige;
  border: 2px solid black;
  padding: 10px 20px 30px 40px;
  margin: 15px 30px 45px 50px;
  display: inline-block;
}

div:last-of-type:hover {
  color: white;
  background: black;
}

.boxA {
  height: 300px;
  width: 50%;
  display: none;
}